@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

@import "normalize";
@import "layout";
@import "elements";

* {
  margin: 0;
  padding: 0;
}

body {
  background: url(../img/bg.jpg) no-repeat 50%;
  background-size: cover;
  font: 400 14px/1.57 Lato, sans-serif;
  color: #b7bacd;
}

/* Layout */
.ba-container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 640px;
}

.ba-nav {
  margin-top: 146px;
  padding-top: 32px;
  background-color: #2b3040;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
  }
}

.ba-nav__item {
  a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #b7bacd;
    font-size: 16px;
    opacity: 0.7;
    text-transform: uppercase;
    transition: all 0.2s;

    svg {
      margin-bottom: 13px;
      fill: #b7bacd;
      opacity: 0.7;
    }

    span {
      margin-bottom: 35px;
    }

    &:hover {
      color: #fbfbfb;
      opacity: 1;

      svg {
        fill: #fff;
        opacity: 1;
      }
    }
  }
}

.active {
  a {
    color: #fbfbfb;
    opacity: 1;
    border-bottom: 2px solid #fff;

    svg {
      fill: #fff;
      opacity: 1;
    }
  }
}

.ba-sprite {
  display: none;
}

.ba-section {
  padding: 59px 41px 63px 47px;
  box-shadow: 0 23px 57px rgba(0, 0, 0, 0.4);
  background-color: #212534;
}

.ba-info-bar {
  display: flex;
  justify-content: space-between;
}

.ba-info__aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ba-poster {
  margin-bottom: 26px;
}

.ba-star-bar :nth-child(-n + 4) {
  margin-right: 8px;
}

.ba-star {
  fill: #4b536b;

  &--shining {
    fill: #ffdd3f;
  }
}

.ba-game-article {
  flex-basis: 315px;
}

.ba-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 39px;
}

.ba-game {
  &__name {
    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    margin: 0 0 10px;
  }

  &__subscribe {
    color: #fdfdfd;
  }
}

.ba-game-rating {
  width: 69px;
  height: 69px;
  border: 2px solid #787c9b;
  border-radius: 35px;
  color: #aaadbb;
  font-size: 20px;
  line-height: 22px;
  padding: 23px 0 0;
  text-align: center;
  position: relative;

  &::after {
    content: "";
    width: 63px;
    height: 73px;
    background-image: url(../img/info/radius.png);
    position: absolute;
    left: 6px;
    top: -4px;
  }
}

.ba-game-artcile__content {
  margin-bottom: 61px;
}

.ba-game__buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ba-price {
  color: #ffffff;
  font-size: 32px;
  line-height: 32px;

  &__supscribe {
    color: #fedc3f;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.ba-button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  background-color: #13e28d;
  border-radius: 2px;
  padding: 23px 34px 21px 35px;
  border: none;
}

.buy-img {
  object-fit: contain;
}
